#toolbar
	background-color: #fff
	height: 38px
	padding: 10px 20px
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)

	button
		height: 38px
		margin: 0 5px
		padding: 0 30px
		color: #555
		text-align: center
		font-size: 11px
		font-weight: 600
		line-height: 38px
		letter-spacing: .1rem
		text-transform: uppercase
		text-decoration: none
		white-space: nowrap
		background-color: transparent
		border-radius: 19px
		border: 1px solid #bbb
		cursor: pointer
		box-sizing: border-box

		&:hover
		&:focus
			color: #333
			border-color: #888
			outline: 0

		&.green
			color: lightgreen
			border: 1px solid lightgreen

			&:hover
			&:focus
				color: green
				border-color: green

		&.left
			float: left
		&.right
			float: right
