*[contenteditable=true]:hover,
*[contenteditable=true]:focus {
	border: none;
	outline: none;
}

article, .article {
	font-family: serif;
	color: #333;
}

@media (min-width: 769px) {
	article, .article {
		font-size: 21px;
	}
	.container {
		margin: 20px auto;
		max-width: 760px;
		padding: 0 20px;
	}
}

@media (max-width: 768px) {
	article, .article {
		font-size: 18px;
	}
	.container {
		margin: 20px;
	}
}
